/*Fuentes*/
@font-face {
  font-family: "ClementePDai-Regular";
  src: url("../fuentes/ClementePDai-Regular.ttf");
}

@font-face {
  font-family: "MinionPro-Regular";
  src: url("../fuentes/MinionPro-Regular.otf");
}

@font-face {
  font-family: "HelveticaNeueLTStd-Hv";
  src: url("../fuentes/HelveticaNeueLTStd-Hv.otf");
}

@font-face {
  font-family: "HelveticaNeueLTPro-Roman";
  src: url("../fuentes/HelveticaNeueLTPro-Roman.otf");
}

@font-face {
  font-family: "Smooth-Circulars";
  src: url("../fuentes/Smooth-Circulars.otf");
}

/*Imagen de fondo*/
body {
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-image: url(../imagenes/inversion7.png);
}

br{
	margin-bottom:5px;
}

div#marco-imagen-inversion{
	position:absolute;
	top: 40px;
	left: 350px;	
}
img#imagen-inversion{
	width: 320px;
	height: 100px;
}

div#fondo-tabla{
	position:absolute;	
	width: 845px;
	height: 535px;
	top: 205px;
	left: 120px;
}

div#fondo-blanco{
	position:absolute;	
	width: 701px;
	height: 520px;
	top: 0px;
	left: 0px;
	background-color: #FFFFFF;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

div#fondo-transparente{
	position:absolute;	
	width: 135px;
	height: 520px;
	top: 0px;
	left: 700px;
	background: rgba(249,249,249,0.6);
	color: #fff;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

div#marco-fondo-gris-negro{
	position:absolute;
	background: linear-gradient(to right,#E2D9D4,#CFC8C8,#948D8D,#454545,#454545);
	width: 755px;
	height: 50px;
	top: 19px;
	left: 33px;
}

div#marco-titulo-rojo{
	position:absolute;
	background: linear-gradient(to right,#C01818,#C01818,#D31419);
	width: 750px;
	height: 45px;
	top: 20px;
	left: 35px;
	border-bottom: 2px solid black;
	border-right: 1px solid #AC6E6F;
}

div#marco-titulo-rojo-inferior{
	position:absolute;
	background-color: #881711;
	width: 750px;
	height: 4px;
	top: 62px;
	left: 35px; 
}

div#marco-titulo-rojo-superior-uno{
	position:absolute;
	background-color: #932A2D;
	width: 750px;
	height: 2px;
	top: 20px;
	left: 35px;
}

div#marco-titulo-rojo-superior-dos{
	position:absolute;
	background-color: #E42624;
	width: 750px;
	height: 2px;
	top: 22px;
	left: 35px;
}

label#letra-blanca{
	font-family: ClementePDai-Regular;
	font-size: 15px;
	color: #FFFFFF;
}

label#letra-roja{
	font-family: HelveticaNeueLTPro-Roman;
	font-size: 13px;
	color: #BD1622;
}

label#letra-roja-bold{
	font-family: HelveticaNeueLTStd-Hv;
	font-weight: bolder;
	font-size: 29px;
	color: #c41a24;
}

label#letra-gris{
	font-family: HelveticaNeueLTPro-Roman;
	font-size: 13px;
	color: #6d6d6d;	
}

label#letra-gris-bold{
	font-family: HelveticaNeueLTPro-Roman;
	font-weight: bolder;
	font-size: 13px;
	color: #6d6d6d;	
}


div#marco-componentes{
	position:absolute;
    top: 43px;
    left: 55px;
	width: 100px;
}

div#marco-contenido{
	position:absolute;
    top: 29px;
    left: 210px;
	width: 100px;
}

div#marco-contenido-inferior{
	position:absolute;
    top: 44px;
    left: 170px;
	width: 180px;
}

div#marco-propiedades{
	position:absolute;
    top: 43px;
    left: 515px;
	width: 100px;
}
div#marco-medio{
	position:absolute;
    top: 11px;
    left: px;
	width: 60px;
}

div#marco-propiedades-medio{
	position:absolute;
    top: 11px;
    left: 30px;
	width: 480px;
}

div#marco-contenido-renglon2{
	position:absolute;
    top: 21px;
    left: 0px;
	width: 80px;
}

div#marco-propiedades-renglon3-parentesis{
	position:absolute;
    top: 37px;
    left: 30px;
	width: 450px;
}

div#marco-fila1{
	position:absolute;
    top: 68px;
    left: 35px;
	width: 750px;
	height: 79px;
}

div#marco-componentes-fila1{
	position:absolute;
    top: 0px;
    left: 35px;
	width: 85px;
	height: 68px;
}

div#marco-componentes-renglon2{
	position:absolute;
    top: 21px;
    left: 0px;
	width: 400px;
}

div#marco-componentes-renglon3{
	position:absolute;
    top: 37px;
    left: 0px;
	width: 400px;
}

div#marco-contenido-fila1{
	position:absolute;
    top: 0px;
    left: 185px;
	width: 55px;
	height: 68px;
}

div#marco-contenido-renglon3{
	position:absolute;
    top: 37px;
    left: 0px;
	width: 80px;
}

div#marco-propiedades-fila1{
	position:absolute;
    top: 0px;
    left: 290px;
	width: 490px;
	height: 68px;
}

div#marco-propiedades-renglon1{
	position:absolute;
    top: 5px;
    left: 30px;
	width: 450px;
}

div#marco-propiedades-renglon2{
	position:absolute;
    top: 21px;
    left: 30px;
	width: 480px;
}

div#marco-propiedades-renglon3{
	position:absolute;
    top: 37px;
    left: 30px;
	width: 450px;
}

div#marco-propiedades-renglon4{
	position:absolute;
    top: 53px;
    left: 30px;
	width: 450px;
}

div#marco-fila2{
	position:absolute;
    top: 148px;
    left: 35px;
	width: 780px;
	height: 79px;
	background: linear-gradient(to right,#FFFFFF,#F4F4F4,#E8E8E8,#E0E0E0,#D3D3D5,#E0E0E0,#E8E8E8,#F4F4F4,rgba(249,249,249,0.2));
}

div#marco-componentes-fila2{
	position:absolute;
    top: 0px;
    left: 35px;
	width: 85px;
	height: 68px;
}
div#marco-contenido-fila2{
	position:absolute;
    top: 0px;
    left: 185px;
	width: 55px;
	height: 68px;
}
div#marco-propiedades-fila2{
	position:absolute;
    top: 0px;
    left: 290px;
	width: 490px;
	height: 68px;
}

div#marco-fila3{
	position:absolute;
    top: 228px;
    left: 35px;
	width: 750px;
	height: 59px;
}

div#marco-componentes-fila3{
	position:absolute;
    top: 0px;
    left: 35px;
	width: 85px;
	height: 57px;

}
div#marco-contenido-fila3{
	position:absolute;
    top: 0px;
    left: 185px;
	width: 55px;
	height: 57px;
}

div#marco-propiedades-fila3{
	position:absolute;
    top: 0px;
    left: 290px;
	width: 458px;
	height: 57px;
}

div#marco-fila4{
	position:absolute;
    top: 288px;
    left: 35px;
	width: 780px;
	height: 59px;
	background: linear-gradient(to right,#FFFFFF,#F4F4F4,#E8E8E8,#E0E0E0,#D3D3D5,#E0E0E0,#E8E8E8,#F4F4F4,rgba(249,249,249,0.2));
}

div#marco-componentes-fila4{
	position:absolute;
    top: 0px;
    left: 35px;
	width: 85px;
	height: 57px;

}
div#marco-contenido-fila4{
	position:absolute;
    top: 0px;
    left: 185px;
	width: 55px;
	height: 57px;
}

div#marco-propiedades-fila4{
	position:absolute;
    top: 0px;
    left: 290px;
	width: 458px;
	height: 57px;
}

div#marco-fila5{
	position:absolute;
    top: 348px;
    left: 35px;
	width: 750px;
	height: 39px;
}

div#marco-componentes-fila5{
	position:absolute;
    top: 0px;
    left: 35px;
	width: 85px;
	height: 38px;

}
div#marco-contenido-fila5{
	position:absolute;
    top: 0px;
    left: 185px;
	width: 55px;
	height: 38px;
}

div#marco-propiedades-fila5{
	position:absolute;
    top: 0px;
    left: 290px;
	width: 458px;
	height: 38px;
}

div#marco-fila6{
	position:absolute;
    top: 388px;
    left: 35px;
	width: 780px;
	height: 44px;
	background: linear-gradient(to right,#FFFFFF,#F4F4F4,#E8E8E8,#E0E0E0,#D3D3D5,#E0E0E0,#E8E8E8,#F4F4F4,rgba(249,249,249,0.2));

}

div#marco-medio-fila6{
	position:absolute;
    top: 14px;
    left: px;
	width: 60px;
}

div#marco-componentes-fila6{
	position:absolute;
    top: 0px;
    left: 35px;
	width: 85px;
	height: 38px;

}
div#marco-contenido-fila6{
	position:absolute;
    top: 0px;
    left: 185px;
	width: 55px;
	height: 38px;
}

div#marco-propiedades-fila6{
	position:absolute;
    top: 0px;
    left: 290px;
	width: 458px;
	height: 38px;
}

div#marco-fila7{
	position:absolute;
    top: 433px;
    left: 35px;
	width: 750px;
	height: 79px;
}

div#marco-propiedades-fila7{
	position:absolute;
    top: 0px;
    left: 290px;
	width: 458px;
	height: 38px;
}
div#marco-componentes-fila7{
	position:absolute;
    top: 0px;
    left: 35px;
	width: 85px;
	height: 73px;
}
div#marco-contenido-fila7{
	position:absolute;
    top: 0px;
    left: 130px;
	width: 150px;
	height: 73px;
}

div#marco-componentes-fila7-renglon1{
	position:absolute;
    top: 21px;
    left: 0px;
	width: 50px;
}

div#marco-componentes-fila7-renglon2{
	position:absolute;
    top: 35px;
    left: 0px;
	width: 70px;
}

div#marco-componentes-fila7-renglon2{
	position:absolute;
    top: 37px;
    left: 0px;
	width: 400px;
}

div#marco-contenido-fila7-renglon1{
	position:absolute;
    top: 17px;
    left: 15px;
	width: 400px;
}
div#marco-contenido-fila7-renglon2{
	position:absolute;
    top: 33px;
    left: 0px;
	width: 400px;
}
div#marco-contenido-fila7-renglon3{
	position:absolute;
    top: 49px;
    left: 50px;
	width: 400px;
}

div#pastilla-roja{
    position:absolute;
    top: 610px;
    left: 75px;
}

div#imagen-tira{
	position:absolute;
	top: 162px;
	left: 0px;
}

img#imagen-tira{
	width: 670px;
	height: 63px;
	
}

div#imagen-sol{
	position:absolute;
	top: 135px;
	left: 595px;
}

img#imagen-sol{
	width: 60px;
	height: 59px;	
}

div#letra-tira-roja{
	position:absolute;
	top: 169px;
	left: 25px;
}

label#letra-tira-roja{
	font-family: ClementePDai-Regular;
	font-size: 30px;
	color: #FFFFFF;	
}
div#marco-pop{
	top: 170px;
	left: 565px;
	width: 10px;
    height: 10px;
	position:absolute;
}
label#pop{
	font-family: "ClementePDai-Regular";
	vertical-align: super;
	color: #FFFFFF;
	width: 290px;
    height: 130px;
	font-size: 18px;
}
div#marco-pop2{
	top: 22px;
	left: 245px;
	width: 10px;
    height: 10px;
	position:absolute;
}
label#pop2{
	font-family: "HelveticaNeueLTPro-Roman";
	vertical-align: super;
	color: #BD1622;
	width: 290px;
    height: 130px;
	font-size: 9px;
}
div#marco-pop3{
	top: 55px;
	left: 283px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop4{
	top: 5px;
	left: 258px;
	width: 10px;
    height: 10px;
	position:absolute;
}
label#pop3{
	font-family: "HelveticaNeueLTPro-Roman";
	vertical-align: super;
	color: #6d6d6d;
	width: 290px;
    height: 130px;
	font-size: 9px;
}
div#marco-pop5{
	top: 22px;
	left: 275px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop6{
	top: 38px;
	left: 332px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop7{
	top: 55px;
	left: 388px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop8{
	top: 55px;
	left: 398px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop9{
	top: 36px;
	left: 302px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop10{
	top: 36px;
	left: 300px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop11{
	top: 36px;
	left: 310px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop12{
	top: 10px;
	left: 455px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop13{
	top: 10px;
	left: 465px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop14{
	top: 22px;
	left: 332px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop15{
	top: 22px;
	left: 340px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop16{
	top: 22px;
	left: 353px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop17{
	top: 54px;
	left: 315px;
	width: 10px;
    height: 10px;
	position:absolute;
}
div#marco-pop18{
	top: 54px;
	left: 328px;
	width: 10px;
    height: 10px;
	position:absolute;
}
