.ogestan{
	width: 130px;
    height: 42px;
}
.inversion{
	width: 160px;
    height: 55px;
}
.premastan{
	width: 150px;
    height: 53px;
}
.oestrogel{
	width: 145px;
    height: 60px;
}
.utrogestan{
	width: 155px;
    height: 75px;
}