@font-face {
  font-family: "Montserrat-Light";
  src: url("../fuentes/Montserrat-Light.otf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fuentes/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: "HelveticaNeueLTPro-Roman";
  src: url("../fuentes/HelveticaNeueLTPro-Roman.otf");
}

/*Imagen de fondo*/
body {
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-image: url(../imagenes/fondoOestrogel5.png);
}
/*Div Marco Arriba*/
div#Arriba{
	width: 1000px;
    height: 663px;
	margin-top: px;
	margin-left: px;
	position:absolute;
}
div#marco-subtitulo{
	position:absolute;
	margin-top: 215px;
	margin-left: 370px;
}
/*popups*/
div#marco-pop2a{
	margin-top: 277px;
	margin-left: 270px;
	position:absolute;
}
div#marco-pop5{
	margin-top: 277px;
	margin-left: 278px;
	position:absolute;
}
div#marco-pop11{
	margin-top: 277px;
	margin-left: 285px;
	position:absolute;
}
div#marco-pop16{
	margin-top: 277px;
	margin-left: 293px;
	position:absolute;
}
div#marco-pop4{
	margin-top: 277px;
	margin-left: 685px;
	position:absolute;
}
div#marco-pop5a{
	margin-top: 277px;
	margin-left: 694px;
	position:absolute;
}
div#marco-pop17{
	margin-top: 277px;
	margin-left: 703px;
	position:absolute;
}
label#popBlanco{
	color: #FFFFFF;
	font-family: "Montserrat-Light";
	width: 240px;
    height: 100px;
	font-size: 9px;
	vertical-align:super;
}